{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <h2>{{ user.username }}'s profile</h2><br>
    <h3>Your courses: </h3>
    <div class="container mt-4">
        <div class="row">
            {% for curse in curses %}
            <div class="col-md-4 mb-3">
                <div class="card text-white bg-primary">
                    <img src="{{ curse.image.url }}" height="350">
                    <div class="card-header">{{ curse.course }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ curse.title }}</h4>
                        <p class="card-text">{{ curse.body }}</p>

                        <a href="{% url 'course' curse.id %}">
                            <button type="button" class="btn btn-outline-primary">View course</button>
                        </a>
                        {% if user.is_superuser %}
                        <a href="{% url 'update' curse.id %}">
                            <button type="button" class="btn btn-outline-warning">Update</button>
                        </a>
                        <a href="{% url 'delete' curse.id %}">
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}